@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Your custom base styles here */

  @font-face {
    font-family: "Satoshi-Variable";
    src: url("/fonts/Satoshi-Variable.ttf") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: "Satoshi-Variable", sans-serif;
  }

  .word {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
}
